{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    <h1>Courses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ course.Subject }}</td>
            </tr>
            <tr>
                <th>Statuts</th>
                <td>{{ course.statuts }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ course.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_teacher_courses_index') }}">back to list</a>

    <a href="{{ path('app_teacher_courses_edit', {'id': course.id}) }}">edit</a>

    {{ include('teacher_courses/_delete_form.html.twig') }}
{% endblock %}
